#editor-dashboard {
    border: 1px #a39485 solid;
/* 
    border: 1px #a39485 solid;
  box-shadow: 0 2px 5px rgba(0,0,0,25); 
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden; */
}

.room-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-height: 30%;
  overflow-y: auto;
  border: 1px solid black;
  gap: 10px;
  cursor: grab;
}

.room-item {
  border: 1px solid black;
  white-space: nowarp;
  width: 120px;
  height: 40px;
  overflow: hidden;
  
}