<div th:fragment="schedule-setup(meetings, avails)" id="schedule-setup">
    <table id="time-table">
        <thead>
            <tr>
                <th>schedule</th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button onclick="submitSchedule()">저장</button>

    <script th:inline="javascript">
        const meetingId = /*[[${meetingId}]]*/ 0;
        const avails = /*[[${avails}]]*/ [];
    </script>
    <script th:src="@{/js/schedule-slot.js}"></script>
    <script th:src="@{/js/schedule-submit.js}"></script>
</div>