<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}">
    <head>
        <th:block layout:fragment="style">
            <!-- <link rel="stylesheet" th:href="@{/css/page/schedule/dashboard.css}"> -->
        </th:block>
    </head>
    <body>
        <th:block layout:fragment="content">
            manager page
            <th:block th:each="meeting : ${meetings}">
                <div th:text="${meeting.title}"
                    th:onclick="|toggleForm(${meeting.id})|"></div>
            </th:block>
            <form th:action="@{/manager/schedule/update}" th:object="${request}" method="post">
                <label for="id">미팅</label>
                <select th:field="*{id}" onchange="fillForm(this.value)">
                    <option value="">미팅을 선택하세요</option>
                        <option th:each="o : ${meetings}"
                            th:value="${o.id}"
                            th:text="${o.title}">
                        </option>
                </select>
                <label for="title">이름</label>
                <input type="text" th:field="*{title}">
                <label for="description">설명</label>
                <input type="text" th:field="*{description}">
                <label for="open">공개: </label>
                <input type="checkbox" th:field="*{open}" checked>
                <button type="submit">제출</button>
            </form>
            </button>
        </th:block>
        <th:block layout:fragment="javascript">
            <script type="application/json" id="schedule-manager" th:inline="javascript">
                {
                    "meetings": [[${meetings}]]
                }
            </script>
            <script th:src="@{/js/schedule-manager.js}" defer></script>
        </th:block>
    </body>
</html>