nav > ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    /* gap: 100px; */
}
nav > ul > li {
    margin: 0;
    padding: 0;
    border: 1px black solid;
    position: relative;
}
nav > ul > li:hover {
    background-color: rgb(93, 90, 191);
}
nav > ul > li:focus-within {
    background-color: rgb(93, 90, 191);
}
nav > ul > li > a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'NanumSquare';
    font-weight: 800;
    font-size: larger;
}
nav li > ul {
    display: none;
    padding: 0;
    list-style: none;
}
nav > ul > li:hover ul {
    display: block;
}
nav > ul > li:focus-within ul {
    display: block;
}