<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>점자리</title>
    </head>
    <body>
        <header>
            <th:block th:replace="~{fragments/header/header :: header}"></th:block>
        </header>
        <main>
            <span>test</span>
        </main>
        <footer>
            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </footer>
    </body>
</html>