@import url("rest.css");
@import url("waiting.css");
@import url("warning.css");

#dashboard {
    display: flex;
    padding: 0 2%;
    gap: 10px;
}

#dashboard-rest {
    width: 33%;
    border: 1px solid black;
}
#dashboard-waiting {
    width: 33%;
    border: 1px solid black;
}
#dashboard-warning {
    width: 33%;
    border: 1px solid black;
}