@import url("header/navigation.css");
@import url("header/mypage.css");

#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
}
#navigation {
    width: 90%;
    height: auto;
}
#mypage {
    width: 10%;
}