@import url("header/navigation.css");
@import url("header/mypage.css");

:root {
    --header-height: 50px;
}
#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--header-height);
}
#navigation {
    width: 90%;
    height: auto;
}
#mypage {
    width: 10%;
}