<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}">
    <body>
        <th:block layout:fragment="content">
            <th:block th:replace="~{fragments/classroom/tools :: tools(${url}, ${building_name})}"></th:block>
            <th:block th:replace="~{fragments/classroom/status-board :: status-board(${type})}"></th:block>
            <th:block th:replace="~{fragments/classroom/status-board :: status-board(${type})}"></th:block>
            <th:block th:replace="~{fragments/classroom/status-board :: status-board(${type})}"></th:block>
            <div id="dashboard-details">
                <div>
                    details
                </div>
            </div>
            <div id="dashboard-overview">
                <table class="status__table">
                    <tr>
                        <th>호수</th>
                        <th>표지판</th>
                        <th>앞문</th>
                        <th>뒷문</th>
                    </tr>
                    <tr th:each="sign : ${signs}">
                        <td th:text="${sign.number}">B101-1</td>
                        <td th:text="${sign.placard}">←국제210 컴퓨터실습실</td>
                        <td th:text="${sign.front}">국제210 컴퓨터실습실</td>
                        <td th:text="${sign.back}">국제210 컴퓨터실습실 뒤</td>
                    </tr>
                </table>
            </div>
        </th:block>
    </body>
</html>