<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}">
    <head>
        <th:block layout:fragment="style">
            <link rel="stylesheet" th:href="@{/css/page/classroom/editor.css}">
        </th:block>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div th:replace="~{fragments/classroom/tools :: tools(${url}, ${building_name})}"></div>
            <span>active classroom</span>
            <div class="room-list">
                <div th:each="classroom : ${classrooms}"
                    th:text="${classroom.room.number} + ' ' + ${classroom.name}"
                    th:data-id="${classroom.id}"
                    class="room-item"
                    draggable="true">
                    101강의실
                </div>
            </div>
            <div id="editor-form">
                <form th:action="@{/client/edit}" method="post" th:object="${request}" id="editorForm">
                    <input type="hidden" name="redirectUrl" th:value="${redirectUrl}">

                    <label for="building">건물: </label>
                    <select th:field="*{building}">
                        <option value="">건물을 선택하세요</option>
                        <option th:each="o : ${buildings}"
                            th:value="${o.id}"
                            th:text="${o.korFull}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('building')}" th:errors="*{building}"></div>

                    <label for="classroomId">강의실: </label>
                    <select th:field="*{id}">
                        <option value="">강의실을 선택하세요</option>
                        <option th:each="c : ${classrooms}"
                            th:value="${c.id}"
                            th:text="${c.room.number} + ${c.name}">
                        </option>
                    </select>
                    
                    <label for="number">호수: </label>
                    <input type="text" th:field="*{number}">
                    <div th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>

                    <label for="basement">지하: </label>
                    <input type="checkbox" name="basement" id="basement">

                    <label for="name">이름: </label>
                    <input type="text" th:field="*{name}">
                    <br>

                    <label for="direction">방향: </label>
                    <select th:field="*{direction}">
                        <option value="">선택</option>
                        <option value="LEFT">좌</option>
                        <option value="RIGHT">우</option>
                        <option value="NO_SIGN">표지판이 없음</option>
                    </select>
                    <div th:if="${#fields.hasErrors('direction')}" th:errors="*{direction}"></div>

                    <label for="doorType">문 종류: </label>
                    <select th:field="*{doorType}">
                        <option value="">선택</option>
                        <option value="IDK" selected>모름</option>
                        <option value="SINGLE">외여닫이문</option>
                        <option value="DOUBLE">쌍여닫이문</option>
                    </select>
                    <div th:if="${#fields.hasErrors('doorType')}" th:errors="*{doorType}"></div>

                    <label for="count">문 수:</label>
                    <input type="number" th:field="*{count}">
                    <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
                    <br>

                    <label for="parentId">부모: </label>
                    <!-- <input type="hidden" name="parentId" id="parentId"> -->
                    <select th:field="*{parentId}">
                        <option value="">강의실을 선택하세요</option>
                        <option th:each="c : ${classrooms}"
                            th:value="${c.id}"
                            th:text="${c.room.number} + ${c.name}">
                        </option>
                    </select>
                    <div id="dropZone">부모 강의실</div>
                    <div th:if="${#fields.hasErrors('parentId')}" th:errors="*{parentId}"></div>

                    <label for="memo">메모: </label>
                    <input type="text" th:field="*{memo}">


                    <button type="submit"
                        th:formaction="@{/client/edit/classroom/save}">
                        제출하기
                    </button>
                    <button type="submit"
                        th:formaction="@{/client/classroom/delete}">
                        삭제하기
                    </button>

                </form>
            </div>
        </th:block>
        <th:block layout:fragment="javascript">
            <script type="application/json" id="editForm" th:inline="javascript">
                {
                    "classrooms": [[${classrooms}]]
                }
            </script>
            <script th:src="@{/js/edit-data.js}" defer></script>
            <script th:src="@{/js/edit-selection.js}" defer></script>
            <script th:src="@{/js/edit-dragdrop.js}" defer></script>
            <script th:src="@{/js/edit-submit.js}" defer></script>
        </th:block>
    </body>
</html>