<nav th:fragment="navigation">
    <ul>
        <li>
            <a href="">동아리</a>
        </li>
        <li>
            <a href="">교내활동</a>
            <ul>
                <li><a href="">강의실 점자</a></li>
                <li><a href="">카페 조사</a></li>
                <li><a href="">교내 기타 활동</a></li>
            </ul>
        </li>
        <li>
            <a href="">교외 활동</a>
            <ul>
                <li><a href="">진앤수</a></li>
            </ul>
        </li>
        <li>
            <a href="">도구</a>
            <ul>
                <li><a href="">시간표</a></li>
                <li><a href="">자료실</a></li>
            </ul>
        </li>
    </ul>
</nav>