<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>점자리</title>
    </head>
    <body>
        <div th:each="room: ${rooms}">
            <span th:text="${room.building.korFull} + ${room.number}"></span>
        </div>
        <div th:each="classroom: ${classrooms}">
            <span th:text="${classroom.name}"></span>
        </div>
        <div th:each="sign: ${signs}">
            <div th:text="${sign.number}"></div>
            <div th:text="${sign.placard}"></div>
            <div th:text="${sign.front}"></div>
            <div th:text="${sign.back}"></div>
        </div>
    </body>
</html>