<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>로그인</title>
        <link th:href="@{/css/home.css}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div th:replace="~{fragments/header/header::header-facade}"></div>
        </header>
        <main>
            <a th:href="@{/oauth2/authorization/kakao}">카카오 로그인</a>
        </main>
        <footer>
        </footer>
    </body>
</html>