<div th:fragment="form(buildings)" id="building-form">
    <form th:action="@{/client/move-building}" method="post">
        건물(최소 하나 입력): 
        <label for="building-option"></label>
        <select name="option" id="building-option">
            <option value="">건물을 선택하세요</option>
            <option th:each="b : ${buildings}"
            th:value="${b.engShort}"
            th:text="${b.korFull}"></option>
        </select>
        <input type="text" name="name" id="input-building-name">
        <button type="submit">이동</button>
    </form>
</div>