<div th:fragment="setting-profile" id="setting-profile">
    <form th:action="@{/client/profile/update}" th:object="${profile_request}" method="post">
        <div>
            <label for="username">이름: </label>
            <input type="text" th:field="*{username}">
        </div>
        <div>
            <label for="number">학번(두 자리): </label>
            <input type="number" th:field="*{number}">
        </div>
        <div>
            <label for="nickname">닉네임: </label>
            <input type="text" th:field="*{nickname}">
        </div>
        <button type="submit">저장</button>
    </form>
</div>